* {margin: 0; padding: 0; box-sizing: border-box;}

h1, h2, h3, h4, h5, h6 { font-weight: normal; }
$padding: 16px;
$primary-color: rgba(0,0,0,0.6);
$border-color: #eee;
$background-color: rgba(0,0,0,0.6);

*::after{box-sizing: border-box }
*::before{box-sizing: border-box }
ul, ol {list-style: none}
a{
  text-decoration: none;
  color: inherit;
}

.site-page{
  background: #ffffff;
  min-height: 100vh;
}

.site-main{
  padding: 16px;
}

.site-header{
  background: #eeeeee;
  color: $primary-color;
  padding: 8px $padding;
  min-width: 100vw;

  .logo{
    display: flex;
    align-items: center;

    > img{
      margin-right: 8px;
    }

    > span{
      font-weight: lighter;
      font-size: 20px;
    }
  }
}

.site-sider{
  border-right: 1px solid $border-color;

  h2{
    padding: $padding;
    font-size: 18px;
  }
  ul {
    min-width: 12em;
    > li{
      a {
        padding: 8px $padding;
        color:black;
        display: block;

        &:hover{
          color: $primary-color;
        }

        &.active{
          background: darken($background-color, 20%);
          color:#eee;
          border-right: 3px solid #000;
        }
      }
    }
  }
}

.site-footer{
  border-top: 1px solid $border-color;
  text-align: center;
  color: $primary-color;
  padding: 16px 0;
  background: #ffffff;
}
